@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    foreach (var bookmark in ViewBag.PublicBookmarks)
    {
        <div id="LeftColumn" style="float: Left; padding-left: 80px;">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href=@Url.Action("Details", new { id = bookmark.Id })>
                            <h4 class="post-title">
                                @bookmark.Title
                            </h4>
                        </a>
                        <p class="post-subtitle"> @bookmark.Url</p>

                        <p class="post-meta"> Posted by @bookmark.Owner.UserName on @bookmark.Created </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    }
}